.banner-img {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../assets/classroom-traning.jpg") no-repeat;
}

.banner {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.banner-title {
  font-size: 36px;
  font-weight: 600;
  filter: brightness(1000%);
}

.btn {
  background-color: #fd4a18;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
  width: 200px;
  margin-top: 30px;
  border: 0;
}

.btn:hover {
  background-color: #fff;
  color: #fd4a18;
}

.banner-details {
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 425px) {
}
